<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>RailsTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id='nav'><%= render :partial => 'layouts/nav' %></div>
  <div id='body'><%= render :partial => 'layouts/body' %></div>
  <div id='footer'><%= render :partial => 'layouts/footer' %></div>

</body>
</html>
